/* modal.module.css */

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #fff;
  padding: 20px;
  max-width: 600px;
  width: 100%;
  position: relative;
}

.modalHeader {
  display: flex;
  justify-content: flex-end;
}

.modalHeader span {
  cursor: pointer;
  font-size: 24px;
}

.modalContent {
  margin-top: 20px;
}
