:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --primary-color: #0e1c26;
  --test-color: RGB(31, 31, 33);
  --secondary-color: #2a454b;
  --card-color: #294861;
  --green-color: rgba(42, 233, 140, 1);
  --green-color-hover: rgba(42, 233, 140, 0.7);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  background: var(--test-color);
}

a {
  text-decoration: none;
}
