.section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.h1 {
  font-size: 2rem;
  text-align: left;
}

.spanTitle {
  color: var(--green-color);
}

/* Card */

.cardsContainer {
  width: 100%;
  padding: 4% 0;
}

.cardContainer {
  margin: 10px 0;
  min-width: 300px;
  max-width: 500px;
}

/* Button */

.link {
  margin: auto auto 0 auto;
}

/* MEDIA QUERIES TABLETTE */

@media (max-width: 1023px) {
  .section {
    padding: 10% 0;
  }
  .h1 {
    text-align: center;
  }
  .cardContainer {
    margin: 10px auto;
  }
}
