.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.section h4,
.section p {
  text-align: center;
}

.section h4 {
  margin-bottom: 10px;
}

.social,
.social:visited {
  display: block;
  text-align: center;
  text-decoration: none;
  color: var(--text-color);
}

.h1 {
  font-size: 2em;
  height: 10%;
}

.spanTitle {
  color: var(--green-color);
}

.section p > svg,
.section a > svg {
  margin-right: 10px; /* Espacement entre l'icône et le texte */
}

.link {
  color: var(--green-color);
}

/* MEDIA QUERIES TABLETTE */

@media (max-width: 1023px) {
  .section {
    padding: 10% 0;
  }
  .h1 {
    margin-bottom: 7%;
  }
  .nameContainer {
    text-align: center;
  }
  .section h4 {
    margin-top: 30px;
  }
  .link {
    margin-top: 7%;
  }
}
